html,body {
  background: #EFF3F4;
  font-family: 'Open Sans', serif;
}
.hero-body .container {
  max-width: 700px;
}
.hero-body .title {
  color: hsl(192,17%,99%) !important;
}
.hero-body .subtitle {
  color: hsl(192,17%,99%) !important;
  padding-top: 2rem;
  line-height: 1.5;
}
.features {
  padding: 5rem 0;
}
.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}
.card-image > .fa {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #209cee;
}
.card-content .content {
  font-size: 14px;
  margin: 1rem 1rem;
}
.card-content .content h4 {
  font-size: 16px;
  font-weight: 700;
}
.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
}
.intro {
  padding: 5rem 0;
  text-align: center;
}
.sandbox {
  padding: 5rem 0;
}
.tile.notification {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bg-rainbow { 
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

@-webkit-keyframes verticaly {
    0%{background-position: 82% 0%}
    50%{background-position: 19% 100%}
    100%{background-position: 82% 0%}
}
@-moz-keyframes verticaly {
    0%{background-position: 82% 0%}
    50%{background-position: 19% 100%}
    100%{background-position: 82% 0%}
}
@-o-keyframes verticaly {
    0%{background-position: 82% 0%}
    50%{background-position: 19% 100%}
    100%{background-position: 82% 0%}
}
@keyframes verticaly { 
    0%{background-position: 82% 0%}
    50%{background-position: 19% 100%}
    100%{background-position: 82% 0%}
}

/* bg overlayer */

.bg-overlay-image {
    background-image: url(https://cdn.pixabay.com/photo/2017/05/16/11/45/blue-waves-2317606_1280.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 -20px;

    -webkit-animation: rainbow 10s ease infinite;
    -z-animation: rainbow 10s ease infinite;
    -o-animation: rainbow 10s ease infinite;
      animation: rainbow 10s ease infinite;
}

.bg-overlay-image-1 {
    background-image: url(http://epposi.org/wp-content/uploads/2015/05/background_swirl1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 -20px;

    -webkit-animation: verticaly 10s ease infinite;
    -z-animation: verticaly 10s ease infinite;
    -o-animation: verticaly 10s ease infinite;
      animation: verticaly 10s ease infinite;
}