.bg-rainbow { 
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 10s ease infinite;
-z-animation: rainbow 10s ease infinite;
-o-animation: rainbow 10s ease infinite;
  animation: rainbow 10s ease infinite;
}

.bg-rainbow-lite { 
background: linear-gradient(124deg,#ff2400,#e81d1d,#2b1de8,#dd00f3,#dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 10s ease infinite;
-z-animation: rainbow 10s ease infinite;
-o-animation: rainbow 10s ease infinite;
  animation: rainbow 10s ease infinite;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

@-webkit-keyframes verticaly {
    0%{background-position: 82% 0%}
    50%{background-position: 19% 100%}
    100%{background-position: 82% 0%}
}
@-moz-keyframes verticaly {
    0%{background-position: 82% 0%}
    50%{background-position: 19% 100%}
    100%{background-position: 82% 0%}
}
@-o-keyframes verticaly {
    0%{background-position: 82% 0%}
    50%{background-position: 19% 100%}
    100%{background-position: 82% 0%}
}
@keyframes verticaly { 
    0%{background-position: 82% 0%}
    50%{background-position: 19% 100%}
    100%{background-position: 82% 0%}
}

/* bg overlayer */

.bg-overlay-image {
    background-image: url(https://cdn.pixabay.com/photo/2017/05/16/11/45/blue-waves-2317606_1280.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 -20px;

    -webkit-animation: rainbow 10s ease infinite;
    -z-animation: rainbow 10s ease infinite;
    -o-animation: rainbow 10s ease infinite;
      animation: rainbow 10s ease infinite;
}

.bg-overlay-image-1 {
    background-image: url(http://epposi.org/wp-content/uploads/2015/05/background_swirl1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 -20px;

    -webkit-animation: verticaly 10s ease infinite;
    -z-animation: verticaly 10s ease infinite;
    -o-animation: verticaly 10s ease infinite;
      animation: verticaly 10s ease infinite;
}

.animate-verticaly
{
  -webkit-animation: verticaly 10s ease infinite;
  -z-animation: verticaly 10s ease infinite;
  -o-animation: verticaly 10s ease infinite;
    animation: verticaly 10s ease infinite;
}

.animate-horizontaly
{
  -webkit-animation: rainbow 10s ease infinite;
  -z-animation: rainbow 10s ease infinite;
  -o-animation: rainbow 10s ease infinite;
    animation: rainbow 10s ease infinite;
}

.flexdatalist-multiple li.input-container, .flexdatalist-multiple li.input-container input {
  border: none !important;
  width: 50% !important;
  height: auto !important;
  padding: 0 0 0 4px !important;
  line-height: 24px !important;
}

/* vue */

[v-cloak] > * { display:none; } 
[v-cloak]::before {  
  content: " "; 
  display: block; 
} 

.ghost {
  opacity: 0.5;
}

/* set fonts */

@font-face {
    font-family: "GT Eesti";
    src:  url("/vendor/omni/css/fonts/GT-Eesti-Text-Book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "GT Eesti";
    src:  url("/vendor/omni/css/fonts/GT-Eesti-Display-Medium.ttf") format("truetype");
    font-weight: bold;
    font-style: normal
}

/* @font-face {
    font-family: "Bariol";
    src: url("/vendor/omni/css/fonts/bariol_regular-webfont.woff2") format("woff2"), url("/vendor/omni/css/fonts/bariol_regular-webfont.woff") format("woff"), url("/vendor/omni/css/fonts/bariol_regular-webfont.ttf") format("truetype"), url("/vendor/omni/css/fonts/bariol_regular-webfont.svg") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "Bariol";
    src: url("/vendor/omni/css/fonts/bariol_bold-webfont.woff2") format("woff2"), url("/vendor/omni/css/fonts/bariol_bold-webfont.woff") format("woff"), url("/vendor/omni/css/fonts/bariol_bold-webfont.ttf") format("truetype"), url("/vendor/omni/css/fonts/bariol_bold-webfont.svg") format("svg");
    font-weight: bold;
    font-style: normal
} */

* {
  font-family: "GT Eesti";
}

/* fix mobile columns and card */

@media (max-width: 576px){
    .columns {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .columns .column {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

.fade-enter-active {
  transition: opacity .5s;
}
.fade-leave-active {
  transition: opacity .1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.slider {
    width: auto;
}

.slick-slide {
    background: $c1;
    color: white;
    font-size: 30px;
    font-family: "Arial", "Helvetica";
    text-align: center;
}

.slick-prev:before, 
.slick-next:before {
    color: black;    
}

.slick-dots {
    bottom: -30px;
}

.slick-slide:nth-child(odd) {
     background: $c2;
}

.slick-dots li button:before {
    font-size: 38px;
}

.component-container {
    background-color: rgb(255, 255, 255);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.component-container .hero {
    width: 100%;
}

.submenu {
    height: auto;
    min-height: 0.4em;
    padding-bottom: 10px;
}

.modal-card-head, .modal-card-foot {
    background-color: white;
    border-radius: 0;
}

.modal-card-title {
    font-size: 1.1rem;
}